<mat-spinner *ngIf="data.template.products.productGroups.length === 0"></mat-spinner>
<div class="card-columns" *ngIf="data.template.products.productGroups.length != 0">
  <div class="card" *ngFor="let productGroup of data.template.products.productGroups">
    <div class="card-header">
      <h7 class="card-title">{{productGroup.products[0].displayName}}</h7>
    </div>

    <div class="card-body">
      <app-product-preview [product]= "productGroup.products"></app-product-preview>
    </div>
    <div class="card-footer">
      <p class="card-text">{{productGroup.products[0].groupId}}</p>
      <small class="text-muted">{{productGroup.products[0].formattedListPrice}}</small>
    </div>
  </div>
</div>
